* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right,#01bede,#00eb8f);
}
input{
    border: none;
    outline: none;
}
.text {
    width: 410px;
    background-color: #00372a;
    padding: 10px;
    height: 120px;
    font-size: 24px;
    color: white;
}
table{
    background-color: white;
}
.btn {
    background-color: #bff8e9;
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
}
.btn:hover {
    background-color: white;
}
.bt-col{
    width: 202px;
}
@media screen and (max-width: 470px) {
    .text {
        width: 290px;
        height: 100px;
        font-size: 20px;

    }
    .btn {
        background-color: #bff8e9;
        width: 70px;
        height: 70px;
        font-size: 18px;
        font-weight: bold;
    }
    .bt-col{
        width: 142px;
    }
}
@media screen and (max-width: 320px) {
    .text {
        width: 210px;
        height: 70px;
        font-size: 16px;

    }
    .btn {
        background-color: #bff8e9;
        width: 50px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
    }
    .bt-col{
        width: 102px;
    }
}
@media screen and (max-height: 640px) {
    .text {
        width: 210px;
        height: 70px;
        font-size: 16px;

    }
    .btn {
        background-color: #bff8e9;
        width: 50px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
    }
    .bt-col{
        width: 102px;
    }
}
@media screen and (max-height: 350px) {
    .text {
        width: 170px;
        height: 50px;
        font-size: 13px;

    }
    .btn {
        background-color: #bff8e9;
        width: 40px;
        height: 30px;
        font-size: 12px;
        font-weight: bold;
    }
    .bt-col{
        width: 82px;
    }
}